.aboutContainer{

    padding-top: 220px;
    width: 60vw;
    height: 100vh; /* h-screen */
    display: flex; /* flex */
    flex-direction: column; /* flex-col */
    position: relative;
    overflow: scroll; /* overflow-scroll */
}

.aboutContainer::-webkit-scrollbar {
    width: 3px;
    
}

.aboutContainer::-webkit-scrollbar-track {
    background: none; 
}
 
.aboutContainer::-webkit-scrollbar-thumb {
    background: var(--navAboutShadow); 
    border-radius: 10px;
}

.aboutContainer::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.textContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    gap: 50px;
    color: var(--textSoft2);
    z-index: 56;
    
}

.biographyContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 5px;
    
}

.biographyElements{

    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;

}

.biographyTitle{
    font-size: 30px;
    font-weight: bold;
    color: var(--navAboutShadow);
}

.biographyText{
    font-size: 25px;
    color: var(--textSoft2);
}

@keyframes glow {
    0% {
        filter: drop-shadow(0px 0px 10px var(--navAboutShadow));
    }
    50% {
        filter: drop-shadow(0px 0px 20px var(--navAboutShadow));
    }
    100% {
        filter: drop-shadow(0px 0px 10px var(--navAboutShadow));
    }
}

.portrait {
    top: 250px;
    /*width: 24%;
    height: 69%;*/
    filter: drop-shadow(0px 0px 10px var(--navAboutShadow));
    border-radius: 5px;
    animation: glow 3s infinite;
    transition: 0.2s;
}

.portrait:hover{
    scale: 1.1;
}

.skills{
    display: flex;
    flex-direction: column;
    margin-top: 00px;
    gap: 20px;
    justify-content: center;
    padding: 5px;
}

.skillsTitle{
    font-size: 30px;
    font-weight: bold;
    color: var(--navAboutShadow);
}



.skillsList{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.skillsLanguage{
    border-radius: 0.25rem; /* rounded */
    padding: 0.5rem; /* p-2 */
    font-size: 1; /* text-sm */
    font-weight: bold; /* font-bold */
    cursor: pointer; /* cursor-pointer */
    background-color: black; /* bg-black */
    color: white; /* text-white */
}

.skillsLanguage:hover{
    background-color: white; /* hover:bg-white */
    color: black; /* hover:text-black */
}

.skillsFramework {
    border-radius: 0.25rem; /* rounded */
    padding: 0.5rem; /* p-2 */
    font-size: 1rem; /* text-sm */
    font-weight: bold; /* font-bold */
    cursor: pointer; /* cursor-pointer */
    background-color: white; /* bg-white */
    color: black; /* text-black */
}

.skillsFramework:hover {
    background-color: black; /* hover:bg-black */
    color: white; /* hover:text-white */
}

.timeline{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    /* border: white 1px solid; */
    padding: 5px;
    padding-bottom: 20px;
}

.timelineTitle{
    font-size: 30px;
    font-weight: bold;
    color: var(--navAboutShadow);
}

.timelineList{
    background-color: var(--navAboutShadow);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.svgContainer{
    animation: fadeIn 1.5s;
    position: sticky;
    top: 0px;
    z-index: 56;
    display: flex;
    justify-content: center;
    filter: blur(2px);
}

.svgContainerNoBlur{
    transition: all 1s;
    animation: fadeIn 1.5s;
    position: sticky;
    top: 0px;
    z-index: 56;
    display: flex;
    justify-content: center;
    filter: none;
}

.resumeContainer{
    top: 1850px;
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 80px;
    color: var(--navAboutActive);
    font-size: xx-large;
    font-weight: bolder;
}

.progressBarContainer {
    width: 62%; 
    color: var(--textSoft2);
    text-indent: 10px;
    height: 25px;
    position: fixed;
    margin-top: -100px;
    left: 400px;
    z-index: 100;
    border-radius: 5px;
}

.progressBar {
    position: relative;
    border-radius: 3px;
    color: var(--textSoft2);
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    transition: width 0.5s;
    background: linear-gradient(-45deg, var(--navAboutActive), var(--navAboutActive) 25%, var(--navAboutShadow) 25%, var(--navAboutShadow) 50%, var(--navAboutActive) 50%, var(--navAboutActive) 75%, var(--navAboutShadow) 75%, var(--navAboutShadow));
    background-size: 40px 40px;
    animation: stripes 2s linear infinite;
}

@keyframes stripes {
    0% { background-position: 0 0; }
    100% { background-position: 40px 0; }
}


.blurBox {
    position: fixed;
    width: 59.7vw;
    height: 100px;
    top: 0px;
    z-index: 58;
    background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
}

.fixedPosition{
    position: absolute;

}


.link{
    color: var(--navAboutShadow);
    font-weight: bold;
    text-decoration: none;
}

.link:hover{
    color: var(--navAboutActive);
    text-decoration: underline;
}

